*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.admin{
    padding: 2vw;
    min-height: 100vh;
    background-image: url(/public/media/pattern.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    /* justify-content: center; */
}
.admin-container{
    border-radius: 30px;
    padding: 1vmax 0.5vmax;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 2vw;

}
.admin-container > div{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.admin-container > div > label{
    font-size: 1.4vmax;
    font-weight: 500;
    padding: 0.5vmax 0;
}
.input{
    border: 2px black solid;
    width: 80%;
    padding: 0.5vmax 0.5vmax;
    font-size: 1.4vmax;

}
.button{
    font-size: 2vw;
    border: 2px black solid;
    padding: 1vw;
    background-color: white;
    font-weight: bold;
    border-radius: 30px;
}
.button:hover{
    background-color: #040112;
    color: white;
    transition: 0.2s ease-in-out;
}